@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  --background: #1a1f1a;
  --background-hover: #2e3a2e;
  --primary: #7aa85f;
  --highlight: #a4ff61;
  --warning: rgb(252, 41, 41);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--primary);
  font-family: 'Share Tech Mono', monospace;
}

h1 {
  font-size: 4rem;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 800px;
  min-height: 400px;
  gap: 10px;
  padding: 10px;
}

#top {
  display: flex;
  justify-content: end;
  gap: 10px;
  width: 100%;
  padding: 5px;
}

#posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

.post {
  display: flex;
  flex-direction: column;
  color: var(--primary);
  text-decoration: none;
  border: 2px solid var(--background);
  padding: 5px;
}

.post:hover {
  border: 2px solid var(--primary);
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.image-div img {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  height: 150px;
  background-color: var(--background);
}

button {
  font-size: 1rem;
  padding: 5px 10px;
  color: var(--primary);
  background-color: var(--background);
  border: 2px outset var(--primary);
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-family: 'Share Tech Mono', monospace;
  font-weight: bold;
}

button:hover {
  color: var(--highlight);
  border: 2px inset var(--primary);
  background-color: var(--background-hover);
}

button:focus {
  border: 2px outset var(--primary);
}

/* post-new.html */

#post-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

#post-form button {
  margin-bottom: 15px;
}

.input-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

label {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 5px;
  color: var(--highlight);
  background-color: var(--background-hover);
  font-size: 1.1rem;
  border: 2px solid var(--background-hover);
  outline: none;
  font-family: 'Share Tech Mono', monospace;
}

textarea {
  width: 100%;
  padding: 5px;
  color: var(--highlight);
  background-color: var(--background-hover);
  font-size: 1rem;
  border: 2px solid var(--background-hover);
  outline: none;
  font-family: 'Share Tech Mono', monospace;
}

input:focus,
textarea:focus {
  border: 2px solid var(--primary);
}

.validate {
  color: var(--warning);
  margin-bottom: 10px;
}

.validate.valid {
  color: var(--highlight);
}

/* post.html */
#post-image-div {
  width: 100%;
}

#post-image-url {
  width: 100%;
  padding: 5px;
  font-size: 1.5rem;
  text-align: start;
}

#post-title {
  width: 100%;
  padding: 5px;
  font-size: 2rem;
}

#post-content {
  width: 100%;
  min-height: 200px;
  padding: 5px;
  white-space: pre-line;
}

#post-image-div img {
  padding: 5px;
  width: 100%;
}

.editable {
  border: 2px solid var(--highlight);
}

.editable:hover {
  background-color: var(--background-hover);
}

.editable:focus {
  color: var(--highlight);
  outline: none;
  border: 2px solid var(--highlight);
}

#edit-mode-notice {
  flex-grow: 1;
  color: var(--background-hover);
  background-color: var(--highlight);
  text-align: center;
  vertical-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 1.2rem;
}

.edit-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.edit-buttons button {
  width: 100px;
}
