@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('charley/charley.css');

:root {
  --background: #1a1f1a;
  --background-hover: #2e3a2e;
  --primary: #7aa85f;
  --highlight: #a4ff61;
  --warning: rgb(252, 41, 41);
}

[data-theme='red'] {
  --background: #2b0a0a;
  --background-hover: #3e0f0f;
  --primary: #ff4d4d;
  --highlight: #ff1a1a;
  --warning: #ff0000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--primary);
  font-family: 'Share Tech Mono', monospace;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.page-title {
  color: var(--highlight);
  animation: flicker 0.2s linear infinite both, shift 0.2s linear infinite;
}

.page-title::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100vw;
  height: 300%;
  background: none;
  backdrop-filter: blur(15px);
  filter: blur(0px);
  pointer-events: none;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 720px;
  min-height: 100vh;
  gap: 15px;
  padding: 10px;
}

/* static line effect */
#main::before {
  content: '';
  position: fixed;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 10px;
  backdrop-filter: blur(5px);
  filter: blur(3px);
  pointer-events: none;
  animation: up-down-line 10s infinite;
}

#top {
  display: flex;
  justify-content: end;
  gap: 10px;
  width: 100%;
  padding: 5px;
}

#posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--primary);
  text-decoration: none;
  border: 2px solid var(--background);
  padding: 10px;
  transition: all 0.1s ease-in-out;
}

.post:hover {
  border: 2px solid var(--primary);
  color: var(--highlight);
  animation: shift 0.1s linear infinite, on-hover 0.2s linear;
}

.post:hover .title {
  animation: flicker 0.2s linear infinite both, shift 0.1s linear infinite;
}

.post:hover .content {
  animation: flicker 0.1s linear infinite, shift 0.25s linear infinite;
}

.post:hover .image-div {
  filter: brightness(1.2) saturate(1.2);
  animation: shift 0.4s linear infinite;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.content {
  font-size: 1rem;
}

.image-div img {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 150px;
  background-color: var(--background);
}

button {
  font-size: 1.2rem;
  padding: 5px 10px;
  color: var(--primary);
  background-color: var(--background);
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-family: 'Share Tech Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  animation: shift 0.2s infinite both;
}

button:hover {
  color: var(--background);
  background-color: var(--highlight);
  animation: flicker 0.2s linear infinite both, shift 0.2s linear infinite,
    on-hover 0.2s linear;
}

button:focus {
  border: none;
}

#delete-btn {
  transition: all 0.1s ease-in-out;
  z-index: 10;
}

/* post-new.html */
.post-form-div {
  width: 100%;
  max-width: 600px;
}

#post-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 15px;
  margin-top: 15px;
}

.new-post-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#post-form button {
  margin-bottom: 15px;
}

.input-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.input-div:hover {
  animation: flicker 0.2s linear infinite both, shift 0.1s linear infinite;
}

label {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 5px;
  color: var(--highlight);
  background-color: var(--background-hover);
  font-size: 1.1rem;
  border: 2px solid var(--background-hover);
  outline: none;
  font-family: 'Share Tech Mono', monospace;
}

textarea {
  width: 100%;
  padding: 5px;
  color: var(--highlight);
  background-color: var(--background-hover);
  font-size: 1rem;
  border: 2px solid var(--background-hover);
  outline: none;
  font-family: 'Share Tech Mono', monospace;
}

input:focus {
  border: 2px solid var(--primary);
  animation: flicker 0.2s linear infinite both, shift 0.2s linear infinite;
}

textarea:focus {
  border: 2px solid var(--primary);
}

.validate {
  color: var(--warning);
  margin-bottom: 10px;
}

.validate.valid {
  color: var(--highlight);
}

/* post.html */
#post-image-div {
  width: 100%;
}

.post-text-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  width: 100%;
}

.post-text-content.editing {
  gap: 15px;
  padding: 5px;
}

#post-image-url {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  text-align: start;
}

#post-title {
  width: 100%;
  padding: 10px;
  font-size: 1.6rem;
}

#post-content {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  font-size: 1.1rem;
  line-height: 1.5rem;
  white-space: pre-line;
}

#post-image-div img {
  padding: 5px;
  width: 100%;
}

.editable {
  border: 2px solid var(--highlight);
}

.editable:hover {
  background-color: var(--background-hover);
}

.editable:focus {
  color: var(--highlight);
  outline: none;
  border: 2px solid var(--highlight);
  animation: flicker 0.2s linear infinite both, shift 0.1s linear infinite,
    on-hover 0.2s linear;
}

#edit-mode-notice {
  width: 100%;
  border: 5px solid var(--background);
  border-top: 0px;
  border-bottom: 0px;
  color: var(--background-hover);
  background-color: var(--highlight);
  text-align: center;
  vertical-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 1.2rem;
  animation: shift 0.1s infinite both, flicker 0.3s infinite both;
}

.edit-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.edit-buttons button {
  width: 100px;
}

#conform-outter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#conform {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  color: var(--highlight);
  border: 2px solid var(--highlight);
  padding: 20px;
  gap: 20px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  background-color: var(--background-hover);
}

.conform-buttons-div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.conform-buttons-div button {
  border: none;
  color: var(--highlight);
  background-color: var(--background-hover);
  width: 70px;
  font-size: 1.2rem;
}

.conform-buttons-div button:hover {
  color: var(--background);
  background-color: var(--highlight);
}

/* noice */
.noise {
  position: fixed;
  inset: -400%;
  background-image: url('images/noise.png');
  opacity: 6%;
  z-index: 9999;
  animation: noise 0.2s linear infinite both;
  pointer-events: none;
  overflow: hidden;
}

#forgive {
  margin-top: 5px;
  cursor: pointer;
}

#forgive:hover {
  animation: flicker 0.2s linear infinite both, shift 0.2s linear infinite;
}

/* animation */
@keyframes noise {
  0% {
    transform: translateX(15%) translateY(15%);
  }
  100% {
    transform: translateX(-15%) translateY(-15%);
  }
}

@keyframes flicker {
  0% {
    opacity: 100%;
  }
  30% {
    opacity: 92%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes shift {
  0% {
    transform: translateX(0.05%) translateY(-0.03%);
  }
  30% {
    transform: translateX(-0.03%) translateY(0.03%);
  }
  100% {
    transform: translateX(0.05%) translateY(-0.03%);
  }
}

@keyframes on-hover {
  0% {
    filter: blur(3px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes up-down-line {
  0%,
  80% {
    top: -20%;
  }
  100% {
    top: 120%;
  }
}

.shake {
  animation: shake 0.1s linear infinite;
  text-shadow: 0 0 5px red, 0 0 10px red;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-2px, -1px);
  }
  40% {
    transform: translate(2px, 1px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* screen size */
@media (max-width: 768px) {
  /* index.html */
  #main {
    gap: 10px;
    padding: 15px;
  }

  .page-title {
    font-size: 3rem;
  }

  .post {
    padding: 10px;
    border: 1px solid var(--primary);
  }

  .post:hover {
    background-color: var(--background-hover);
    border: 1px solid var(--primary);
  }

  .title {
    color: var(--highlight);
    font-size: 1.1rem;
  }

  .content {
    font-size: 1rem;
  }

  .post .image-div {
    display: none;
  }

  /* post.html */

  #post-title {
    padding: 10px;
    font-size: 1.3rem;
  }

  #post-content {
    padding: 10px;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}
